/dist
/src-bex/www
/src-capacitor
/src-cordova
/.quasar
/node_modules
/local_modules

/src/types/bitcore-lib-xpi/bitcore-lib-xpi.d.ts
/src/types/vuex-shim.d.ts

/src/cashweb/keyserver/keyserver_pb.js
/src/cashweb/keyserver/keyserver_pb.d.ts
/src/cashweb/keyserver/broadcast_pb.js
/src/cashweb/keyserver/broadcast_pb.d.ts
/src/cashweb/relay/relay_pb.js
/src/cashweb/relay/relay_pb.d.ts
/src/cashweb/relay/p2pkh_pb.js
/src/cashweb/relay/p2pkh_pb.d.ts
/src/cashweb/relay/filters_pb.js
/src/cashweb/relay/filters_pb.d.ts
/src/cashweb/relay/stealth_pb.js
/src/cashweb/relay/stealth_pb.d.ts
/src/cashweb/bip70/paymentrequest_pb.js
/src/cashweb/bip70/paymentrequest_pb.d.ts
/src/cashweb/auth_wrapper/wrapper_pb.js
/src/cashweb/auth_wrapper/wrapper_pb.d.ts
/test/jest/utils
